{% extends 'base.html' %}

{% block main %}
        <div class="h-30">
            <div class="position-relative top-50 text-center">
                <button class="btn-lg btn-outline-dark" onclick="location.href='ここにファイル名'">名前</button>
            </div>
        </div>
        <div class="h-30">
            <div class="position-relative top-50 text-center">
              <button class="btn-lg btn-outline-dark" onclick="location.href='logout'">ログアウト</button>
            </div>
        </div>
        <div class="h-30">
            <div class="position-relative top-50 text-center">
                <button class="btn-lg btn-outline-dark" onclick="location.href='deleteAccount'">退会</button>
            </div>
        </div>
        <div class="h-10"></div>
{% endblock %}
